.view {
  width: 7.5rem;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: .32rem;
  padding-bottom: .4rem;
}
i.icon {
  display: inline-block;
}
.login {
  background: url(../images/login_bg0.png);
  padding-top: .4rem;
}
.login .login-pannel {
  width: 7.34rem;
  height: 11.26rem;
  margin: 0 auto;
  padding-top: 1.6rem;
  background: url(../images/login_bg.png) no-repeat;
  background-size: contain;
}
.login .login-pannel .logo {
  width: 3.74rem;
  height: .82rem;
  margin: 0 auto;
  background: url(../images/logo.png) no-repeat;
  background-size: contain;
}
.login .login-pannel .login-form {
  width: 4.84rem;
  margin: 0 auto;
}
.login .login-pannel .login-form .l-list {
  margin-top: 1.2rem;
}
.login .login-pannel .login-form .l-list .l-list-item {
  width: 100%;
  border-bottom: 1px solid #dbdee1;
  position: relative;
  padding: .2rem 0;
  margin-top: .3rem;
}
.login .login-pannel .login-form .l-list .l-list-item .icon {
  width: .5rem;
  height: .5rem;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
.login .login-pannel .login-form .l-list .l-list-item .account {
  background-image: url(../images/account_icon.png);
}
.login .login-pannel .login-form .l-list .l-list-item .password {
  background-image: url(../images/password_icon.png);
}
.login .login-pannel .login-form .l-list .l-list-item input {
  width: 3.94rem;
  margin-left: .9rem;
}
.login .login-pannel .login-form .submit-btn {
  width: 100%;
  height: 1.4rem;
  background: url(../images/login_btn.png) no-repeat;
  background-size: contain;
  margin-top: 1.5rem;
}
.login .login-pannel .login-form .submit-btn button {
  width: 100%;
  height: .88rem;
  font-size: .36rem;
  color: #fff;
}
.login .login-pannel .login-form .register-link {
  text-align: center;
  margin-top: .7rem;
}
.login .login-pannel .login-form .register-link a {
  font-size: .26rem;
  color: #379efd;
}
.logout {
  text-align: right;
  padding-right: .3rem;
}
.logout button {
  background: url(../images/student/zhuxiao_icon.png) no-repeat left center;
  background-size: .28rem;
  font-size: .32rem;
  color: #fff;
  line-height: 1.06rem;
  padding-left: .38rem;
}
.index {
  background: url(../images/index_bg.png) no-repeat top center;
  background-size: contain;
}
.index .banner {
  width: 7.28rem;
  height: 3.84rem;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}
.index .list {
  width: 6.9rem;
  margin: 0 auto;
}
.index .list a {
  width: 3.45rem;
  height: 3.45rem;
  float: left;
  font-size: .3rem;
  color: #333;
  text-align: center;
  background: url(../images/index_list_bg.png) no-repeat;
  background-size: contain;
}
.index .list a .list-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.index .list a .list-item img {
  width: .82rem;
}
.index .list a .list-item .txt {
  margin-top: .36rem;
}
.index .list a.add {
  color: #999;
}
.info-list {
  padding: .2rem;
  background: #f8f8f8;
}
.student .banner {
  background-image: url(../images/student/banner.png);
}
.teacher .banner {
  background-image: url(../images/teacher/banner.png);
}
.card {
  width: 100%;
  margin: 0 auto .2rem;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card .card-cell {
  background: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: .3rem;
  font-size: .32rem;
  border-bottom: 1px solid #e3e3e3;
  align-items: baseline;
}
.card .card-cell .txt-left {
  color: #333;
}
.card .card-cell .txt-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-align: right;
  color: #999;
  word-break: break-all;
  padding-left: .2rem;
}
.card .card-cell .txt-right.content {
  text-align: left;
}
.card .card-cell input {
  text-align: right;
}
.card .card-cell:last-child {
  border-bottom: none;
  font-size: .32rem;
  color: #999;
}
.card-title {
  font-size: .28rem;
  color: #999;
  margin-bottom: .2rem;
  padding-left: .3rem;
}
.card.card1 .card-cell {
  background: url(../images/card_arrow.png) no-repeat right 0.3rem center;
  background-size: .22rem;
}
.card.card1 .card-cell .txt-right {
  padding-right: .5rem;
}
.card.card1.timetable .card-cell {
  padding: 0 .3rem;
  height: 1.2rem;
  padding-right: .46rem;
  background-position: right .46rem center;
}
.card.card1.timetable .card-cell .txt-right {
  line-height: 1.2rem;
  color: #333;
}
.card.card1.timetable .card-cell.now .txt-left,
.card.card1.timetable .card-cell.now .txt-right {
  color: #fe7201;
}
.card.card1.timetable.class .card-cell .txt-left {
  color: #999;
}
.card.card1.timetable.class .card-cell .txt-right {
  color: #999;
}
.card.card1.timetable.class .card-cell.now .txt-left {
  color: #333;
}
.card.card1.timetable.class .card-cell.now .txt-right {
  color: #fe7201;
}
.card.card1.timetable.stu .card-cell .txt-left {
  color: #333;
}
.card.card1.timetable.stu .card-cell .txt-right {
  color: #999;
}
.card.card1.timetable.stu .card-cell.now .txt-left {
  color: #333;
}
.card.card1.timetable.stu .card-cell.now .txt-right {
  color: #fe7201;
}
.card.card2 .card-cell {
  height: 2.82rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.card.card2 .card-cell .card2-item {
  padding-top: .72rem;
  background-repeat: no-repeat;
  background-size: .52rem;
  background-position: top center;
  text-align: center;
  font-size: .32rem;
  color: #3a7eeb;
}
.card.card2 .card-cell .arrow {
  width: .6rem;
  height: .06rem;
  background: url(../images/teacher/l_arrow.png) no-repeat;
  background-size: contain;
}
.card.card2 .card-cell .card2-item.start {
  background-image: url(../images/teacher/shangke_lan.png);
}
.card.card2 .card-cell .card2-item.rollcall {
  background-image: url(../images/teacher/dianming_lan.png);
}
.card.card2 .card-cell .card2-item.comment {
  background-image: url(../images/teacher/pingjia_lan.png);
}
.card.card2 .card-cell .card2-item.end {
  color: #aaa;
}
.card.card2 .card-cell .card2-item.start.end {
  background-image: url(../images/teacher/shangke_hui.png);
}
.card.card2 .card-cell .card2-item.rollcall.end {
  background-image: url(../images/teacher/dianming_hui.png);
}
.card.card2 .card-cell .card2-item.comment.end {
  background-image: url(../images/teacher/pingjia_hui.png);
}
.card.card3 {
  background: #1f8dfb;
  padding: .2rem 0 0;
}
.card.card3 .card-cell {
  padding: 0 .3rem;
}
.card.card3 .card-cell .txt-right {
  font-size: .26rem;
  color: #666;
}
.card.card3 .title {
  line-height: .88rem;
}
.card.card3 .ccontent {
  font-size: .3rem;
  color: #333;
  padding: .4rem .3rem;
}
.card.card4 {
  margin-bottom: .3rem;
}
.card.card4 .card-cell {
  padding: 0 .3rem;
}
.card.card4 .card-cell .txt-left {
  color: #fff;
}
.card.card4 .card-cell .txt-right {
  font-size: .26rem;
  color: #fff;
}
.card.card4 .title {
  line-height: .8rem;
  background: url(../images/noice_bg.png) no-repeat;
  background-size: cover;
}
.card.card4 .ccontent {
  font-size: .3rem;
  color: #333;
  padding: .3rem;
}
.card.card4:first-child {
  margin-top: .1rem;
}
.register-btn {
  width: 7.26rem;
  height: 1.16rem;
  background: url(../images/zhuce_btn.png) no-repeat;
  background-size: contain;
  margin-top: 1rem;
  margin-left: -0.08rem;
}
.register-btn button {
  width: 100%;
  height: 1rem;
  font-size: .36rem;
  color: #fff;
}
.class {
  background-color: #f8f8f8;
  padding-bottom: 0;
  overflow: hidden;
}
.class .topbar {
  width: 100%;
  background-image: url(../images/bm_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: .3rem;
}
.class .tab {
  width: 7.1rem;
  height: 1.3rem;
  background: #fff;
  border-radius: 6px;
  margin: 0 auto;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
  padding: .275rem 0;
}
.class .tab a {
  width: 50%;
  line-height: .75rem;
  text-align: center;
  font-size: .34rem;
  color: #666;
  display: block;
  float: left;
}
.class .tab a:first-child {
  border-right: 1px solid #f0f0f0;
}
.class .tab a.active {
  color: #0a7bef;
}
.class-content {
  overflow: hidden;
}
.class-content .class-pannel {
  overflow-x: hidden;
  overflow-y: scroll;
}
.class-card {
  width: 100%;
  background: #fff;
  margin-bottom: .2rem;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.05);
}
.class-card .class-cell {
  width: 100%;
  line-height: .72rem;
  border-bottom: 1px solid #f0f0f0;
  padding-left: .4rem;
  font-size: .32rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.class-card .class-cell .txt-left {
  color: #333;
}
.class-card .class-cell .txt-right {
  color: #666;
}
.class-card .class-cell .process {
  color: #fba322;
}
.class-card .class-cell .success {
  color: #fb3c17;
}
.class-card .class-cell.state {
  border-bottom: 0;
  line-height: 1rem;
}
.class-content.enroll .class-pannel .class-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.class-content.enroll .class-pannel .class-check {
  width: 2rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.class-content.enroll .class-pannel .class-check .choose {
  display: none;
}
.class-content.enroll .class-pannel .class-check .choose + label {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  background: url(../images/xz_icon.png) no-repeat 0 0;
  background-size: .4rem;
}
.class-content.enroll .class-pannel .class-check .choose + label:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.class-content.enroll .class-pannel .class-check .choose:checked + label {
  background: url(../images/gou_icon.png) no-repeat 0 0;
  background-size: .4rem;
}
.class-content.enroll .class-pannel .class-detail {
  width: 5.5rem;
}
.class-content.enroll .class-pannel .txt-right {
  color: #077aee;
}
.enroll-btn {
  width: 100%;
  height: 1rem;
  background: url(../images/baoming_btn.png) no-repeat;
  background-size: contain;
}
.enroll-btn button {
  width: 100%;
  height: 1rem;
  font-size: .36rem;
  color: #fcfcfc;
}
