.view {
	width: 7.5rem;
	margin: 0 auto;
	overflow-x: hidden;
	font-size: .32rem;
}
i.icon {
	display: inline-block;
}
.login {
	background: url(../images/login_bg0.png);
	padding: .4rem 0;
	.login-pannel {
		width: 7.34rem;
		height: 11.26rem;
		margin: 0 auto;
		padding-top: 1.6rem;
		background: url(../images/login_bg.png) no-repeat;
		background-size: contain;
		.logo {
			width: 3.74rem;
			height: .82rem;
			margin: 0 auto;
			background: url(../images/logo.png) no-repeat;
			background-size: contain;
		}
		.login-form {
			width: 4.84rem;
			margin: 0 auto;
			.l-list {
				margin-top: 1.2rem;
				.l-list-item {
					width: 100%;
					border-bottom: 1px solid #dbdee1;
					position: relative;
					padding: .2rem 0;
					margin-top: .3rem;
					.icon {
						width: .5rem;
						height: .5rem;
						background-size: contain;
						background-repeat: no-repeat;
						position: absolute;
					}
					.account {
						background-image: url(../images/account_icon.png);
					}
					.password {
						background-image: url(../images/password_icon.png);
					}
					input {
						width: 3.94rem;
						margin-left: .9rem;
					}
				}
			}
			.submit-btn {
				width: 100%;
				height: 1.4rem;
				background: url(../images/login_btn.png) no-repeat;
				background-size: contain;
				margin-top: 1.5rem;
				button {
					width: 100%;
					height: .88rem;
					font-size: .36rem;
					color: #fff;
				}
			}
		}
	}
}