<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>选择课程</title>
    <!-- <link rel="stylesheet" href="../css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/lib/jquery-1.12.4.min.js"></script>
    <script src="../js/mobile.js"></script>
</head>
<body>
<div class="view class">
    <div class="topbar">
        <div class="logout">
            <button>注销</button>
        </div>
        <div class="tab">
            <a href="###">选择课程</a>
            <a href="###" class="active">我的课程</a>
        </div>
    </div>
    <div class="class-content enroll">
        <div class="class-pannel">
            <div class="class-card">
                <div class="class-check">
                    <input type="checkbox" id="choose_1" class="choose" checked="checked">
                    <label for="choose_1"></label>
                </div>
                <div class="class-detail">
                    <div class="class-cell">
                        <div class="txt-left">课程名称：</div>
                        <div class="txt-right">课程1</div>
                    </div>
                    <div class="class-cell">
                        <div class="txt-left">对应年级：</div>
                        <div class="txt-right">一年级</div>
                    </div>
                    <div class="class-cell">
                        <div class="txt-left">科目类型：</div>
                        <div class="txt-right">数学</div>
                    </div>
                    <div class="class-cell">
                        <div class="txt-left">所在校区：</div>
                        <div class="txt-right">铁心桥校区</div>
                    </div>
                </div>
            </div>
            <div class="class-card">
                <div class="class-check">
                    <input type="checkbox" id="choose_2" class="choose">
                    <label for="choose_2"></label>
                </div>
                <div class="class-detail">
                    <div class="class-cell">
                        <div class="txt-left">课程名称：</div>
                        <div class="txt-right">课程1</div>
                    </div>
                    <div class="class-cell">
                        <div class="txt-left">对应年级：</div>
                        <div class="txt-right">一年级</div>
                    </div>
                    <div class="class-cell">
                        <div class="txt-left">科目类型：</div>
                        <div class="txt-right">数学</div>
                    </div>
                    <div class="class-cell">
                        <div class="txt-left">所在校区：</div>
                        <div class="txt-right">铁心桥校区</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="enroll-btn">
        <button>报名</button>
    </div>
</div>

</body>
</html>
