<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>老师评价</title>
    <!-- <link rel="stylesheet" href="../css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/lib/jquery-1.12.4.min.js"></script>
    <script src="../js/mobile.js"></script>
</head>
<body>
<div class="view info-list">
    <div class="card card3">
        <div class="card-cell title">
            <div class="txt-left">王老师：</div>
            <div class="txt-right">2017.01.01</div>
        </div>
        <div class="card-cell ccontent">
            上课注意力不集中，开小差，不好好学习，上课注意力不集中，开小差，不好好学习上课注意力不集中，开小差，不好好学习
        </div>
    </div>
    <div class="card card3">
        <div class="card-cell title">
            <div class="txt-left">王老师：</div>
            <div class="txt-right">2017.01.01</div>
        </div>
        <div class="card-cell ccontent">
            上课注意力不集中，开小差，不好好学习，上课注意力不集中，开小差，不好好学习上课注意力不集中，开小差，不好好学习
        </div>
    </div>
</div>

</body>
</html>
