<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>成长体育学生端</title>
    <!-- <link rel="stylesheet" href="../css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/lib/jquery-1.12.4.min.js"></script>
    <script src="../js/mobile.js"></script>
</head>
<body>
<div class="view index student">
    <div class="logout">
        <button>注销</button>
    </div>
    <div class="banner"></div>
    <div class="list">
        <a href="###"><div class="list-item">
            <img src="../images/student/xs_xinxi_icon.png" alt="">
            <div class="txt">个人信息</div>
        </div></a>
        <a href="###"><div class="list-item">
            <img src="../images/student/sx_kebiao_icon.png" alt="">
            <div class="txt">查看课表</div>
        </div></a>
        <a href="###"><div class="list-item">
            <img src="../images/student/xs_gonggao_cion.png" alt="">
            <div class="txt">学校公告</div>
        </div></a>
        <a href="###"><div class="list-item">
            <img src="../images/student/xs_pingjia_icon.png" alt="">
            <div class="txt">老师评价</div>
        </div></a>
    </div>
</div>

</body>
</html>