<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <title>详细信息</title>
    <!-- <link rel="stylesheet" href="../css/layui.css"  media="all"> -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/lib/jquery-1.12.4.min.js"></script>
    <script src="../js/mobile.js"></script>
</head>
<body>
<div class="view info-list">
    <div class="card">
        <div class="card-cell">
            <div class="txt-left">班级</div>
            <div class="txt-right">班级1</div>
        </div>
        <div class="card-cell">
            <div class="txt-left">年级</div>
            <div class="txt-right">一年级</div>
        </div>
        <div class="card-cell">
            <div class="txt-left">教室</div>
            <div class="txt-right">教室1</div>
        </div>
        <div class="card-cell">
            <div class="txt-left">时间</div>
            <div class="txt-right">08:00-09:00</div>
        </div>
    </div>
    <div class="card">
        <div class="card-cell">
            <div class="txt-left">人数</div>
            <div class="txt-right">40</div>
        </div>
        <div class="card-cell">
            <div class="txt-left">星期</div>
            <div class="txt-right">星期一</div>
        </div>
        <div class="card-cell">
            <div class="txt-left">内容</div>
            <div class="txt-right content">辅导学生辅导学生辅导学生辅导学生辅导学生辅导学生辅导学生</div>
        </div>
    </div>
    <div class="card card2">
        <div class="card-cell">
            <a class="card2-item start" href="###">
                <div class="txt">上课</div>
            </a>
            <div class="arrow"></div>
            <a class="card2-item rollcall" href="###">
                <div class="txt">点名</div>
            </a>
            <div class="arrow"></div>
            <a class="card2-item comment" href="###">
                <div class="txt">评价</div>
            </a>
        </div>
    </div>
</div>

</body>
</html>
